# Секретные файлы
.env
*.env

# Базы данных
*.db
*.sqlite
*.sqlite3

# Питон
__pycache__/
*.pyc
*.pyo
*.pyd

# Виртуальные окружения
venv/
env/
.venv/

# IDE
.vscode/
.idea/
*.swp
*.swo

# Логи
*.log
*.tmp